* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;  
}

p.clear {clear: both}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 969px;  /*Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul{
    list-style-type: none;
}

h5{
    background-color: green;
    align-self: center;
    align-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;    
    
}
h4{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 200;
    text-emphasis: text-emphasis-color;
    color: #6600cc;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3.33rem;
    color: blue;
}

a {
  color: gray;
}

p.righttxt{
    color: green;    
    text-align: right;    
}

p.txtRow{
    font-family: 'Raleway', sans-serif;
    background-color: green;
    text-align: center;
    text-decoration-style: solid;
    font-weight: 200;
}

.txtStrong{
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
}

.cstColor{
    color: #6666ff;
}

.cstTitle{
    color: green;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    
}
/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}